target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.mvn/
mvnw
mvnw.cmd
/src/main/gen/.gitignore
/src/main/gen/.openapi-generator-ignore
/src/main/gen/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
/src/main/gen/src/main/AndroidManifest.xml
/src/main/gen/src/main/java/org/openapitools/client/ApiCallback.java
/src/main/gen/src/main/java/org/openapitools/client/ApiClient.java
/src/main/gen/src/main/java/org/openapitools/client/ApiException.java
/src/main/gen/src/main/java/org/openapitools/client/auth/ApiKeyAuth.java
/src/main/gen/src/main/java/org/openapitools/client/ApiResponse.java
/src/main/gen/src/main/java/org/openapitools/client/auth/Authentication.java
/src/main/gen/build.gradle
/src/main/gen/build.sbt
/src/main/gen/src/main/java/org/openapitools/client/Configuration.java
/src/main/gen/src/main/java/org/openapitools/client/api/DefaultApi.java
/src/main/gen/docs/DefaultApi.md
/src/main/gen/src/test/java/org/openapitools/client/api/DefaultApiTest.java
/src/main/gen/.openapi-generator/FILES
/src/main/gen/git_push.sh
/src/main/gen/gradle.properties
/src/main/gen/gradle/wrapper/gradle-wrapper.jar
/src/main/gen/gradle/wrapper/gradle-wrapper.properties
/src/main/gen/gradlew
/src/main/gen/gradlew.bat
/src/main/gen/src/main/java/org/openapitools/client/GzipRequestInterceptor.java
/src/main/gen/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
/src/main/gen/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
/src/main/gen/src/main/java/org/openapitools/client/JSON.java
/src/main/gen/.github/workflows/maven.yml
/src/main/gen/api/openapi.yaml
/openapi.yml
/src/main/gen/src/main/java/org/openapitools/client/Pair.java
/src/main/gen/pom.xml
/src/main/gen/src/main/java/org/openapitools/client/ProgressRequestBody.java
/src/main/gen/src/main/java/org/openapitools/client/ProgressResponseBody.java
/src/main/gen/README.md
/src/main/gen/src/main/java/org/openapitools/client/ServerConfiguration.java
/src/main/gen/src/main/java/org/openapitools/client/ServerVariable.java
/src/main/gen/settings.gradle
/src/main/gen/src/main/java/org/openapitools/client/StringUtil.java
/src/main/gen/.openapi-generator/VERSION
