#newTourContainer {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#newTourForm {
    -fx-background-color: #F5F4F0;
    -fx-padding: 40px;
    -fx-spacing: 20px;
}
#titleLabel {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1C1C1C;
}

.form-label {
    -fx-text-fill: #6C6C6C;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.form-input {
    -fx-background-color: #DEDBD6;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-padding: 12px 16px;
    -fx-font-size: 16px;
    -fx-pref-height: 40px;
}
#importMenuButton {
    -fx-background-color: #C8EADF;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 5px 5px;
}

.suggestion-list {
    -fx-background-color: #DEDBD6;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-padding: 5px;
    -fx-border-color: #C8EADF;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.15), 5, 0.0, 0, 2);
}

.suggestion-list .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #1C1C1C;
    -fx-font-size: 14px;
    -fx-padding: 8px 12px;
}

.suggestion-list .list-cell:hover {
    -fx-background-color: #C8EADF;
    -fx-text-fill: #1C1C1C;
    -fx-background-radius: 20px;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-padding: 10px 15px;
    -fx-text-fill: #1C1C1C;
    -fx-font-size: 16px;
}

.combo-box .list-view {
    -fx-background-color: #F5F4F0;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0.1, 0, 2);
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #C8EADF;
    -fx-text-fill: black;
}

/* SAVE*/
.primary-button {
    -fx-background-color: #C8EADF;
    -fx-text-fill: black;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* CANCEL */
.secondary-button {
    -fx-background-color: #F8F6F2;
    -fx-text-fill: black;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: #C8EADF;
    -fx-border-width: 2px;
}

.context-menu {
    -fx-background-color: #F5F4F0;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6, 0.0, 0, 2);
}

.menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: #1C1C1C;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

.menu-item:hover {
    -fx-background-color: #B0DBD0;
    -fx-text-fill: black;
}

